[submodule "audiolib"]
	path = audiolib
	url = https://github.com/NurPech/AudioLib.git
	branch = v0.2.1
[submodule "proto"]
	path = proto
	url = https://github.com/NurPech/hannah-proto.git
	branch = v0.3.5
